h1{
    background-color: #b1c89b; 
    font-size: 75px;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
    align-content: center;
    border: 1px solid black;
    border-radius: 5px;
    color: #323232;
}
body{
    background: #ecf0f1;
    
}

/*p{
    text-align: center;
    font-family: Palatino, serif;
    font-size: 35px;
    
}*/
form{
    font-family: Palatino, serif;
}
/*div{
    margin: 50px 50px 50px 50px;
    text-align: center;
    
}
a{
    align-content: center;
    text-decoration: none;
    font-family: Palatino, serif;
    font-size: 30px;
}*/
