<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login to Better</h1>
        <form id="login_form" method="POST" action="/login">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" value="" size="50"><br>
            <label for="password">Password:</label>
            <input type="text" name="password" value="" size="50"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>